body {
    font-family: 'Special Elite', cursive;
}
header {
    font-family: 'Nosifer', cursive;
    font-size: 4em;
    color: crimson;
    padding: 1em;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover, active {
    color: crimson;
    text-decoration: none;
}
footer {
    color: white;
}
header, footer {
    text-align: center;
    background-color: black;
}